<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>JDBCFilter</filter-name>
        <filter-class>Filter.JDBCFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PhanQuyenFilter</filter-name>
        <filter-class>Filter.PhanQuyenFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PhiShipFilter</filter-name>
        <filter-class>Filter.PhiShipFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ThanhVienFilter</filter-name>
        <filter-class>Filter.ThanhVienFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NhaCungCapFilter</filter-name>
        <filter-class>Filter.NhaCungCapFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PhieuNhapFilter</filter-name>
        <filter-class>Filter.PhieuNhapFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SachFilter</filter-name>
        <filter-class>Filter.SachFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DonHangFilter</filter-name>
        <filter-class>Filter.DonHangFilter</filter-class>
    </filter>
    <filter>
        <filter-name>BaoCaoFilter</filter-name>
        <filter-class>Filter.BaoCaoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>JDBCFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PhanQuyenFilter</filter-name>
        <url-pattern>/admin/phanquyen/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PhiShipFilter</filter-name>
        <url-pattern>/admin/phiship/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ThanhVienFilter</filter-name>
        <url-pattern>/admin/thanhvien/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NhaCungCapFilter</filter-name>
        <url-pattern>/admin/nhacungcap/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PhieuNhapFilter</filter-name>
        <url-pattern>/admin/phieunhap/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SachFilter</filter-name>
        <url-pattern>/admin/sach/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DonHangFilter</filter-name>
        <url-pattern>/admin/donhang/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>BaoCaoFilter</filter-name>
        <url-pattern>/admin/baocao/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
</web-app>
